body{
    background-color: lightseagreen;
    margin-left: 100px;
    margin-right: 100px;
}

h1{
    color: rgb(20, 29, 46);
    text-decoration: underline;
    text-align: center;
}

table,td,th{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    background-color: lightskyblue;
    margin: auto;
}

table td {
    text-align: center;
}

th {
    background-color: grey;
}

h1{
    text-align: center;
}

.M04{
    font-weight: bold;
    font-family: Georgia;
    text-decoration: underline;
}

.C04{
    background-color: sienna;
}

.M06{
    font-weight: bold;
    font-family: Verdana;
    text-decoration: underline;
}

.C06{
    background-color: rgb(255, 35, 35);
}

.M07{
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: underline;
}

.C07{
    background-color: seagreen;
}

.M08{
    font-weight: bold;
    font-family: Times New Roman;
    text-decoration: underline;
}

.C08{
    background-color:  rgb(54, 72, 177);
}

#M10{
    font-weight: bold;
    font-family: Haettenschweiler;
    text-decoration: underline;
}

.C10{
    background-color: purple;
}

#Pati{
    font-weight: bold;
    text-align: center;
}

.chora{
    background-color: lightslategray;
}

.cpati{
    background-color: steelblue;
}

#Tut{
    font-weight: bold;
    font-family: Arial Narrow Bold;
    text-decoration: underline;
}

.ctut{
    background-color: rgb(197, 174, 43);
}

img{
    display: block;
    margin: auto;
}