table,td,th{
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
}

.producto{
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

.compra{
    color: blue;
    text-decoration: underline;
}

caption{
    font-weight: bold;
}

/* comentario */

