.cuadro1{
    background: url();
    background-image: ;
    background-repeat: ;
    background-size: ;
}

.cuadro2{
    background: url();
    background-repeat: no-repeat;
}

.cuadro3{
    background: url();
    background-repeat: no-repeat;
}

.cuadro4{
    background: url();
    background-repeat: no-repeat;
}

.cuadro5{
    background: url();
    background-repeat: no-repeat;
}

.cuadro6{
    background: url();
    background-repeat: no-repeat;
}

.cuadro7{
    background: url();
    background-repeat: no-repeat;
}

.cuadro8{
    background: url();
    background-repeat: no-repeat;
}

.cuadro9{
    background: url();
    background-repeat: no-repeat;
}

.cuadro10{
    background: url();
    background-repeat: no-repeat;
}

.cuadro11{
    background: url();
    background-repeat: no-repeat;
}

.cuadro12{
    background: url();
    background-repeat: no-repeat;
}